extends ../layout

block content
    h1= title
    if authors.length
        ul
            each author in authors
                li
                    p
                        a(href=`/authors/${author.id}`) #{author.family_name}, #{author.first_name} 
                        p (#{author.date_of_birth ? new Date(author.date_of_birth) : ''} #{author.date_of_death ? '- ' + new Date(author.date_of_death) : ''})
    else
        p #{t('author.emptyAuthorList')}
